# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# System Files
.DS_Store
Thumbs.db

# Misc
/.angular/
/.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# Environment Variables (PENTING untuk keamanan)
# Jika kamu ingin repo ini publik, disarankan meng-ignore environment.ts
# Tapi untuk tugas kuliah (private repo) atau kemudahan setup dosen,
# baris di bawah ini BOLEH diberi tanda pagar (#) agar environment.ts TEBAWA.
src/environments/environment.ts